<div class="content">
	<div class="center">
		<h2>Program Details</h2>
		<a href="/programs">View all programs</a>
		<% if (loggedIn) { %>
			<% if (currentUser.isAdmin) { %>
				 | 
				<a href="<%= `/programs/${program._id}/edit` %>">Edit</a> |
				<a href="<%= `/programs/${program._id}/delete?_method=DELETE` %>"
					onclick="return confirm('Are you sure you want to delete this record?')">
					Delete
				</a>
			<% } %>
		<% } %>
	</div>
	<br />
	<table class="fit-table">
		<tr>
			<th>Name</th>
			<td><%= program.name %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= program.description %></td>
		</tr>
		<tr>
			<th>Schedule</th>
			<td><%= program.schedule %></td>
		</tr>
		<tr>
			<th>Instructor</th>
			<td><%= program.instructor %></td>
		</tr>
	</table>
</div>
