<div class="content">
	<div class="center">
		<h2>Event Details</h2>
		<a href="/facilities">View all facilites</a>
		<% if (loggedIn) { %>
			<% if (currentUser.isAdmin) { %>
				 | 
				<a href="<%= `/facilities/${facility._id}/edit` %>">Edit</a> |
				<a href="<%= `/facilities/${facility._id}/delete?_method=DELETE` %>"
					onclick="return confirm('Are you sure you want to delete this record?')">
					Delete
				</a>
			<% } %>
		<% } %>
	</div>
	<br />
	<table class="fit-table">
		<tr>
			<th>Name</th>
			<td><%= facility.name %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= facility.description %></td>
		</tr>
		<tr>
			<th>Type</th>
			<td><%= facility.type %></td>
		</tr>
	</table>
</div>
