<div class="content">
	<div class="center">
		<h1>Users</h1>
		<a href="/users/new">Create a New User</a>
	</div>
	<br />
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Memberships</th>
			<th>Admin?</th>
	
		</tr>
		</thead>
		<tbody>
		<% users.forEach(user => { %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td>
				<ul>
					<% user.membership.forEach(m => { %>
						<% if (m) { %>
							<li>
								<span>
									<a href="/memberships/<%= m._id %>">
										<%= m.type %>, <%= m.duration %> days
									</a>
								</span>
							</li>
							
						<% } %>
					<% }) %>
				</ul>
			</td>
			<td>
			<% if (user.Admin) { %>
				Yes
			<% } else { %>
				No
			<% } %>
			</td>
			<td>
				<a href="<%= `/users/${user._id}` %>">View</a>
			</td>
			<td>
			<a href="<%=`/users/${user._id}/edit` %>">Edit</a>
			</td>
			<td>
			<a
				href="<%= `users/${user._id}/delete?_method=DELETE` %>"
				onclick="return confirm('Are you sure you want to delete this record?')"
				>Delete</a
			>
			</td>
		</tr>
		<% }); %>
		</tbody>
	</table>
</div>


